{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de vente - Medimancie{% endblock %}

{% block head %}
    <meta name="description" content="Retrouvez toutes les informations concernant les conditions générales de vente de notre entreprise de méditation laïque associée à la cartomancie.">
    <meta property="og:title" content="Conditions Générales de vente - Medimancie">
    <meta property="og:description" content="Retrouvez toutes les informations concernant les conditions générales de vente de notre entreprise de méditation laïque associée à la cartomancie.">
    <meta name="keywords" content="Conditions générales de vente, entreprise, méditation, cartomancie">
{% endblock %}

{% block body %}



<main>
        <div class="titre_cgv">
            <h1 class="cgv">Conditions Générales de ventes</h1>
         </div>

         

                <div class="texte_cgv">    
                    <h1>
                        POLITIQUE DE REMBOURSEMENT ET CONDITIONS GÉNÉRALES DE VENTE
                       
                    </h1>
                    <h2> CONDITIONS GÉNÉRALES</h2>
                    <p>
                        Les présentes conditions générales régissent l'utilisation de ce site WWW.MEDIMANCIE.COM.
                        Ce site appartient et est géré par MEDIMANCIE SARL 
                        En utilisant ce site, vous indiquez que vous avez lu et compris les conditions d'utilisation
                        et que vous acceptez de les respecter en tout temps. 
                        <br>
                        <br>
                        Type de site : e-commerce 
                          
                        <br>
                        <br>
                            Propriété intellectuelle 
                        <br>
                        <br>
                            Tout contenu publié et mis à disposition sur ce site est la propriété de MEDIMANCIE SARL 
                            et de ses créateurs. Cela comprend, mais n'est pas limité aux images, textes, logos, documents, 
                            fichiers téléchargeables et tout ce qui contribue à la composition de ce site. 
                        <br>
                        <br>
                            Utilisation acceptable
                        <br>
                        <br>
                            En tant qu'utilisateur, vous acceptez d'utiliser notre site légalement et de ne pas utiliser 
                            ce site pour des fins illicites, à savoir : 
                            <br>
                            <br>
                            - Harceler ou maltraiter les autres utilisateurs du site <br>
                            - Violer les droits des autres utilisateurs du site <br>
                            - Violer les droits de propriété intellectuelle des propriétaires du site ou de tout tiers au site <br>
                            - Pirater le compte d'un autre utilisateur du site <br>
                            - Agir de toute façon qui pourrait être considérée comme frauduleuse <br>
                            - Participer à toute activité illégale sur le site <br>
                            - Afficher tout matériel qui peut être jugé inapproprié ou offensant <br>
                            <br>
                            Si nous estimons que vous utilisez ce site illégalement ou d'une manière qui viole les conditions
                            d'utilisation acceptable ci-dessus, nous nous réservons le droit de limiter, suspendre ou résilier
                            votre accès à ce site. Nous nous réservons également le droit de prendre toutes les mesures juridiques
                            nécessaires pour vous empêcher d'accéder à notre site.
                        <br>
                        <br>    
                            Contributions d'utilisateur
                        <br>
                        <br>
                            Les utilisateurs peuvent publier les informations suivantes sur notre site : <br>
                            - Commentaire du public
                            En affichant publiquement sur notre site, vous acceptez de ne pas agir illégalement
                            ou violer les conditions d'utilisation acceptable énumérées dans ce document. 
                        <br>
                        <br>
    
                            Comptes
                        <br>
                        <br>
                            Lorsque vous créez un compte sur notre site, vous acceptez ce qui suit : <br>
                            <br>
                            1. que vous êtes seul responsable de votre compte et de la sécurité et la 
                            confidentialité de votre compte, y compris les mots de passe ou les renseignements
                            de nature délicate joints à ce compte. <br>
                            2. que tous les renseignements personnels que vous nous fournissez par
                            l'entremise de votre compte sont à jour, exacts et véridiques et que vous mettrez
                            à jour vos renseignements personnels s'ils changent. <br>
                            <br>
                            Nous nous réservons le droit de suspendre ou de résilier votre compte si vous utilisez
                            notre site illégalement ou si vous violez les conditions d'utilisation acceptable.
                            <br>
                            <br>
                            Ventes des biens et services
                            <br>
                            <br>
                            Ce document régit la vente des biens mis à disposition sur notre site.
                            Les biens que nous offrons comprennent : <br>
                            <br>
                            - Extensions vidéos youtube <br>
                            - Séances de medimancie individuel et en groupe <br>
                            - Jeux de cartes oracles <br>
                            - Livres <br>
                            - Formations <br>
                            Les biens liés à ce document sont les biens qui sont affichés sur notre
                            site au moment où vous y accédez. Cela comprend tous les produits énumérés 
                            comme étant en rupture de stock. Toutes les informations, descriptions ou images
                            que nous fournissons sur nos biens sont décrites et présentées avec la plus grande
                            précision possible. Cependant, nous ne sommes pas légalement tenus par ces informations,
                            descriptions ou images car nous ne pouvons pas garantir l'exactitude de chaque produit
                            ou service que nous fournissons. Vous acceptez d'acheter ces biens à vos propres risques.
                            <br>
                            <br>
                            Paiements
                            <br>
                            <br>
                            Nous acceptons les modes de paiement suivants sur ce site : <br>
                            - Carte bancaire <br>
                            - PayPal <br>
                            Lorsque vous nous fournissez vos renseignements de paiement, vous nous 
                            confirmez que vous avez autorisé l'utilisation et l'accès à l'instrument
                            de paiement que vous avez choisi d'utiliser. En nous fournissant vos détails
                            de paiement, vous confirmez que vous nous autorisez à facturer le montant dû 
                            à cet instrument de paiement.
                        <br>
                        <br>
                            Si nous estimons que votre paiement a violé une loi ou l'une de nos conditions
                            d'utilisation, nous nous réservons le droit d'annuler votre transaction.
                            <br>
                            <br>
                            <br>
                            <br>
                            <h2>REMBOURSEMENT</h2>
                        <br>
                        <br>
                            Remboursement des biens
                            Nous acceptons les demandes de remboursement sur notre site pour les produits
                            qui répondent à l'une des exigences suivantes : <br>
                            1. le bien n'est pas tel que décrit <br>
                            Les demandes de remboursement peuvent être faites dans les délais de 15 après la réception de vos biens.
                            <br>
                            <br>
                            Les remboursements ne s'appliquent pas aux produits/services suivants : <br>
                            1. articles soldés <br>
                            2. Erreur de la part de l'acheteur, achat double ou achat fait trop rapidement
                            sans vérification.
                            <br>
                            <br>
                            Limitation de responsabilité
                        <br>
                        <br>
                            MEDIMANCIE SARL ou l'un de ses employés sera tenu responsable de tout problème découlant
                            de ce site. Néanmoins, MEDIMANCIE SARL et ses employés ne seront pas tenus responsables
                            de tout problème découlant de toute utilisation irrégulière de ce site.
                            <br>
                            <br>
                            Indemnité
                        <br>
                        <br>
                            En tant qu'utilisateur, vous indemnisez par les présentes MEDIMANCIE SARL de toute
                            responsabilité, de tout coût, de toute cause d'action, de tout dommage ou de toute
                            dépense découlant de votre utilisation de ce site ou de votre violation de l'une des
                            dispositions énoncées dans le présent document.
                        <br>
                        <br>
                            Lois applicables
                        <br>
                        <br>
                            Ce document est soumis aux lois applicables en France et vise à se conformer à ses
                            règles et règlements nécessaires. Cela inclut la réglementation à l'échelle de l'UE
                            énoncée dans le RGPD.
                        <br>
                        <br>
                            Divisibilité
                        <br>
                        <br>
                            Si, à tout moment, l'une des dispositions énoncées dans le présent document
                            est jugée incompatible ou invalide en vertu des lois applicables, ces dispositions
                            seront considérées comme nulles et seront retirées du présent document.
                            Toutes les autres dispositions ne seront pas touchées par les lois et le reste
                            du document sera toujours considéré comme valide.
                        <br>
                        <br>
                            Modifications
                        <br>
                        <br>
                            Ces conditions générales peuvent être modifiées de temps à autre afin de maintenir
                            le respect de la loi et de refléter tout changement à la façon dont nous gérons
                            notre site et la façon dont nous nous attendons à ce que les utilisateurs se 
                            comportent sur notre site. <br>
                            Nous recommandons à nos utilisateurs de vérifier ces conditions générales de temps
                            à autre pour s'assurer qu'ils sont informés de toute mise à jour. 
                            Au besoin, nous informerons les utilisateurs par courriel des changements
                            apportés à ces conditions ou nous afficherons un avis sur notre site.
                        <br>
                        <br>
                            Contact
                        <br>
                        <br>
                            Veuillez communiquer avec nous si vous avez des questions ou des préoccupations. <br>
                        <br>
                            Nos coordonnées sont les suivantes : <br>
                        
                            MAILXXXXXXXXXX
                        <br>
                        <br>
                            ADRESSEXXXXXXXXXXXXXXXXX
                            XXXXXXXXXXXXXXXX  
    
                    </p>
            </div>       
    



        
   
    <div class="fleche">
     <a href="#fleche"><img src="{{ asset('/assets/img/Flèche orange.jpg ')}}" alt="Flèche de navigatiopn"></a>
    </div>
    </main>



{% endblock %}
