{% extends 'base.html.twig' %}


{% block title %}Medi - Medimancie{% endblock %}

{% block head %}
    <meta name="description" content="Découvrez notre méthode de méditation laïque adaptée à tous niveaux.">
    <meta property="og:title" content="Medi - Medimancie">
    <meta property="og:description" content="Découvrez notre méthode de méditation laïque adaptée à tous niveaux.">
    <meta name="keywords" content="Pleine conscience, méditation laîque, détente, pratique spirituel, prendre soin de soi, sagesse">
{% endblock %}


{% block body %}

<main>
        
         <div class="titre_medi_demedimancie">
            <h1 class="lamedi">La Medi de Medimancie ? c'est...</h1>
         </div>

         <Div class="profil_2">
            <a href="{{ path('app_seance') }}"><img src="{{ asset('/assets/img/Logo photo profil.jpg ')}}" alt="Logo photo de profil de Medimancie"></i></a>
                </Div>
            
    <section class="article_meditation">
        <h2 class="titres_meditation_bleu">
            La méditation chez Medimancie ?
        </h2>
            <p>
            "C'est une pratique de méditation de pleine conscience laïque qui est au cœur de toutes les séances <Br></Br>
             que je propose, c'est comme cela que je conçoit la Medimancie." Cathy

            </p>
            <a href=""><img src="img/illustration menu page.jpg"
                class="photoponton_meditation" alt="illustration meditation"></a>

        <h2 class="titres_meditation_orange">
            Est-ce difficile d'apprendre à méditer ?
        </h2>
            <P>
            C'est une pratique spirituel qui se fait naturellement, la méditation s'apprend avec la pratique et si <br>
            au début il nous faut des méditations guidées, très vite on comprend les exercices à effectuer et <br>
            l'on devient autonome. 
            </P>
        <h2 class="titres_meditation_orange">
            Et si je n'y arrive pas ?
        </h2>
            <p>
            Attentionnée Cathy crée un environnement favorable pour se tourner vers l'intérieur et <br>
            abandonner les luttes qui empêchent de vivre la liberté et la joie inhérentes à chaque instant de la <br>
            vie quelque soit le tirage de l'Oracle du Tao, le Yi King.
            </p>
        <h2 class="titres_meditation_orange">
            Je vais y gagner quoi en bref ?
        </h2>
            <p>
            Pratiquer la méditation développe la pleine conscience de nos capacités à vivre mieux les <br>
            situations que nous vivons. La capacité à prêter attention à chaque instant de la vie et à voir <br>
            clairement la vérité de notre expérience. Cultiver une attitude bienveillante nous permet d'agir sur <br>
            notre santé physique et mental, avoir de la compassion pour nous même et pour les autres, <br>
            traverser ce qui est difficile dans nos vies. <br>
            Notre relation à la vie se transforme à mesure que nous apprenons à vivre avec plus de sagesse et <br>
            de bienveillance envers nous même et inévitablement cela rayonne dans nos relations avec les autres.
            </p>
        <h2 class="titres_meditation_bleu">
            L'accompagnement ?
        </h2>
            <p>
            Je propose actuellement dans les séances Medimancie sur zoom et en présentiel un temps <br>
            d'initiation pour apprendre pas à pas à méditer en pleine conscience de manière laique.
   
            </p>
    </section>

    <!-- LIEN VERS SEANCES  -->
    <a href="{{ path('app_contact') }}#les_séances_en_details" class="lien_les_seances_endetail"> Voir les séances en détail directement ?</a>





   
    <div class="fleche">
     <a href="#fleche"><img src="{{ asset('/assets/img/Flèche orange.jpg ')}}" alt="Flèche de navigatiopn"></a>
    </div>
    </main>


{% endblock %}
